Repository 10clouds/aiconsole, pull requests merged in 2024-01, with the labels that each got.

#470 Fix/notification issue
  backend/aiconsole/core/settings/project_settings.py
  backend/aiconsole/utils/BatchingWatchDogHandler.py
Labels: bug, backend, code review

#469 * feat(api): ability to change username, email + Gravatar integration
  backend/aiconsole/api/endpoints/agents/agent.py
  backend/aiconsole/api/endpoints/commands_history.py
  backend/aiconsole/api/endpoints/profile.py
  backend/aiconsole/api/endpoints/project_settings.py
  backend/aiconsole/core/chat/types.py
  backend/aiconsole/core/settings/project_settings.py
  backend/aiconsole/init.py
  backend/poetry.lock
  backend/pyproject.toml
  frontend/src/components/editables/chat/AgentAvatar.tsx
  frontend/src/components/editables/chat/AgentInfo.tsx
  frontend/src/components/editables/chat/MessageGroup.tsx
  frontend/src/components/editables/chat/UserAvatar.tsx
  frontend/src/components/editables/chat/UserInfo.tsx
  frontend/src/types/editables/chatTypes.ts
Labels: backend, code review

#518 fix: change size edit buttons and wrapper
  frontend/src/components/editables/chat/messages/MessageControls.tsx
Labels: frontend

#519 fix: change preview button position
  frontend/src/components/editables/assets/CodeInput.tsx
Labels: frontend

#490 Fix user avatar for older chats
  .vscode/settings.json
  backend/.pre-commit-config.yaml
  backend/aiconsole/api/endpoints/profile.py
  backend/aiconsole/core/clients/__init__.py
  backend/aiconsole/core/clients/gravatar.py
  backend/aiconsole/core/clients/models/__init__.py
  backend/aiconsole/core/clients/models/gravatar.py
  backend/aiconsole/core/users/__init__.py
  backend/aiconsole/core/users/models.py
  backend/aiconsole/core/users/user.py
  backend/aiconsole/preinstalled/avatars/1.png
  backend/aiconsole/preinstalled/avatars/10.png
  backend/aiconsole/preinstalled/avatars/11.png
  backend/aiconsole/preinstalled/avatars/12.png
  backend/aiconsole/preinstalled/avatars/13.png
  backend/aiconsole/preinstalled/avatars/14.png
  backend/aiconsole/preinstalled/avatars/15.png
  backend/aiconsole/preinstalled/avatars/16.png
  backend/aiconsole/preinstalled/avatars/17.png
  backend/aiconsole/preinstalled/avatars/18.png
  backend/aiconsole/preinstalled/avatars/19.png
  backend/aiconsole/preinstalled/avatars/2.png
  backend/aiconsole/preinstalled/avatars/3.png
  backend/aiconsole/preinstalled/avatars/4.png
  backend/aiconsole/preinstalled/avatars/5.png
  backend/aiconsole/preinstalled/avatars/6.png
  backend/aiconsole/preinstalled/avatars/7.png
  backend/aiconsole/preinstalled/avatars/8.png
  backend/aiconsole/preinstalled/avatars/9.png
  backend/aiconsole/preinstalled/avatars/user.jpg
  backend/poetry.lock
  backend/pyproject.toml
  frontend/src/components/editables/chat/UserAvatar.tsx
  frontend/src/components/editables/chat/UserInfo.tsx
  frontend/src/types/editables/chatTypes.ts
Labels: bug, backend

#538 Ability to assign custom open source and closed source llms via settings.
  backend/aiconsole/acceptance_tests.py
  backend/aiconsole/api/endpoints/agents/agent.py
  backend/aiconsole/api/endpoints/check_key.py
  backend/aiconsole/api/endpoints/materials/preview.py
  backend/aiconsole/api/endpoints/projects/services.py
  backend/aiconsole/api/utils/asset_status_change.py
  backend/aiconsole/api/websockets/handle_incoming_message.py
  backend/aiconsole/consts.py
  backend/aiconsole/core/assets/agents/agent.py
  backend/aiconsole/core/chat/execution_modes/analysis/director.py
  backend/aiconsole/core/chat/execution_modes/analysis/gpt_analysis_function_step.py
  backend/aiconsole/core/gpt/check_key.py
  backend/aiconsole/core/gpt/consts.py
  backend/aiconsole/core/gpt/gpt_executor.py
  backend/aiconsole/core/gpt/request.py
  backend/aiconsole/core/settings/project_settings.py
Labels: backend

#522 We probably need to refresh venvs with each release, how to do that properly?
  backend/aiconsole/api/endpoints/projects/services.py
  backend/aiconsole/app.py
  backend/aiconsole/consts.py
  backend/aiconsole/core/code_running/virtual_env/create_dedicated_venv.py
  backend/aiconsole/core/code_running/virtual_env/download_python.py
  backend/aiconsole/core/code_running/virtual_env/install_dependencies.py
  backend/aiconsole/init.py
  backend/aiconsole_toolkit/env.py
  backend/poetry.lock
  backend/pyproject.toml
  electron/scripts/bundle_python.py
  electron/src/main.ts
Labels: backend

#594 create_dedicated_venv function in a separate thread
  backend/aiconsole/core/project/project.py
Labels: backend

#544 * refactor(websockets): encapsulate connection management in ConnectionManager class
  backend/aiconsole/api/endpoints/ws.py
  backend/aiconsole/api/websockets/connection_manager.py
  backend/aiconsole/api/websockets/handle_incoming_message.py
  backend/aiconsole/api/websockets/server_messages.py
  backend/aiconsole/core/assets/assets.py
  backend/aiconsole/core/assets/load_all_assets.py
  backend/aiconsole/core/assets/materials/material.py
  backend/aiconsole/core/chat/apply_mutation.py
  backend/aiconsole/core/chat/execution_modes/example_countdown.py
  backend/aiconsole/core/chat/execution_modes/interpreter.py
  backend/aiconsole/core/chat/locking.py
  backend/aiconsole/core/chat/types.py
  backend/aiconsole/core/gpt/gpt_executor.py
  backend/aiconsole/core/project/project.py
  backend/aiconsole/core/settings/settings_notifications.py
  backend/aiconsole/core/users/models.py
  backend/pyproject.toml
  frontend/src/components/editables/chat/ChatPage.tsx
Labels: backend

#660 Remove zip files from the release assets
  electron/forge.config.cjs
  electron/package.json
  electron/yarn.lock
Labels: review, devops, electron

#676 Fix/encoding
  backend/aiconsole/api/endpoints/commands_history.py
  backend/aiconsole/consts.py
  backend/aiconsole/core/assets/fs/load_asset_from_fs.py
  backend/aiconsole/core/assets/fs/save_asset_to_fs.py
  backend/aiconsole/core/assets/materials/material.py
  backend/aiconsole/core/chat/load_chat_history.py
  backend/aiconsole/core/chat/save_chat_history.py
  backend/aiconsole/core/code_running/virtual_env/create_dedicated_venv.py
  backend/aiconsole/core/recent_projects/services.py
  backend/aiconsole/core/settings/fs/file_observer.py
  backend/aiconsole/core/settings/fs/settings_file_format.py
  backend/aiconsole/init.py
  backend/aiconsole/preinstalled/materials/convert_code_to_another_language.py
  backend/aiconsole/preinstalled/materials/materials_api._toml
  backend/aiconsole/tests/encoding_test.toml
  backend/aiconsole/tests/generate_encoding_test_file.py
  backend/aiconsole/tests/test_encoding.py
  backend/aiconsole_toolkit/credentials.py
Labels: backend

#675 refactor: project choosing logic
  frontend/src/components/projects/ProjectButtons.tsx
  frontend/src/store/projects/useProjectStore.ts
  frontend/src/utils/projects/useProjectFileManager.ts
Labels: frontend

#661 Inconsistent code format output from Automator
  backend/aiconsole/core/chat/execution_modes/interpreter.py
  backend/aiconsole/core/code_running/code_interpreters/subprocess_code_interpreter.py
  backend/aiconsole/core/settings/fs/settings_file_storage.py
  backend/aiconsole/preinstalled/materials/dalle_3_image_generator.py
  backend/aiconsole/preinstalled/materials/dalle_3_image_generator.toml
  backend/aiconsole_toolkit/settings/__init__.py
Labels: backend

#704 667 overwriting the agent is not possible
  .github/workflows/run-backend-checks.yml
  .vscode/settings.json
  backend/aiconsole/api/endpoints/services.py
  backend/aiconsole/core/assets/assets.py
  backend/aiconsole/core/assets/materials/material.py
  backend/aiconsole/core/chat/execution_modes/interpreter.py
  backend/aiconsole/core/chat/execution_modes/normal.py
  backend/aiconsole/core/chat/locking.py
  backend/aiconsole/preinstalled/materials/convert_code_to_another_language.py
  backend/aiconsole/preinstalled/materials/domain_availability.py
  frontend/src/components/editables/assets/AssetEditor.tsx
  frontend/src/components/editables/assets/useAssetEditor.ts
  frontend/src/utils/editables/useAssets.ts
Labels: backend
